.text-center {
    text-align: center;
}
.primary {
    color: #FFFFFF;
}
.secondary {
    color: #650300;    
}
.bg-primary {
    background: #AA0601;
}
.bg-secondary {
    background: #AA06010D;    
}
.d-inline {
    display: inline;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.j-center {
    justify-content: center;
}
.js-around {
    justify-content: space-around;
}
.js-between {
    justify-content: space-between;
}
.jf-start {
    justify-content: flex-start;
}
.a-center {
    align-items: center;
}
.pl-16 {
    padding-left: 16px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-32 {
    padding-left: 32px;
}
.pl-36 {
    padding-left: 36px;
}
.pl-48 {
    padding-left: 48px;
}
.pl-64 {
    padding-left: 64px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-24 {
    padding-bottom: 24px;
}
.pb-28 {
    padding-bottom: 28px;
}
.pb-32 {
    padding-bottom: 32px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pt-19 {
    padding-top: 19px;
}
.pt-24 {
    padding-top: 24px;
}
.pt-36 {
    padding-top: 36px;
}
.pt-48  {
    padding-top: 48px;
}
.ml-30 {
    margin-left: 30px;
}
.mb-80 {
    margin-bottom: 80px;
}      
.lh-24 {
    line-height: 24px;
}
.h2-style {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    padding-top: 64px;
    padding-bottom: 60px;
}
