.container {
  max-width: 1110px;
  margin: 0 auto;
  @include pd {
    max-width: 690px;
  }
  @include mobile {
    max-width: 345px;
  }
}
.profession {
  background: #aa06010d;
  text-align: center;
  h2 {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    padding-top: 64px;
    padding-bottom: 60px;
    color: #650300;
    font-family: Noto Sans;
    @include pd {
      font-size: 32px;
      line-height: 48px;
      padding-top: 40px;
      padding-bottom: 32px;
    }
    @include mobile {
      font-size: 24px;
      padding-top: 24px;
      padding-bottom: 20px;
    }
  }
}
.profession-inner {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-bottom: 80px;
  @include pd {
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
  }
  h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: #650300;
    margin-top: 40px;
    font-family: Noto Sans;
    @include pd {
      font-size: 20px;
      line-height: 30px;
      margin-top: 16px;
    }
  }
  p {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-family: Noto Sans;
    @include pd {
      width: 65%;
      margin: 0 auto;
      padding-bottom: 40px;
    }
    @include mobile {
      width: 100%;
    }
  }
  li {
    width: 20%;
    @include pd {
      width: 48%;
    }
    @include mobile {
      width: 63.4%;
    }
  }
  img {
    @include pd {
      width: 80px;
      height: 80px;
    }
  }
}
@media (max-width: 992px) {
  .order-1 {
    order: -2;
  }
  .order-2 {
    order: -1;
  }
}
.classic {
  margin-bottom: 48px;
  @include pd {
    margin-bottom: 32px;
  }
  @include mobile {
    margin-bottom: 24px;
  }
  h2 {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    padding-top: 64px;
    padding-bottom: 60px;
    color: #650300;
    font-family: Noto Sans;
    @include pd {
      font-size: 32px;
      line-height: 48px;
      padding-top: 40px;
      padding-bottom: 32px;
    }
    @include mobile {
      font-size: 20px;
      padding-top: 32px;
      padding-bottom: 20px;
    }
  }
}
.commodity {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  @include pd {
    padding-bottom: 8px;
  }
  @include mobile {
    flex-direction: column;
    position: relative;
  }
  img {
    width: 57.2%;
    height: auto;
    @include pd {
      width: 56.5%;
    }
  }
  &:nth-child(2n + 1) {
    flex-direction: row-reverse;
    @include pd {
      flex-direction: row;
    }
  }
}
.commodity-body {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:nth-child(n) {
    margin-right: 30px;
    @include mobile {
      margin-right: 0px;
    }
  }
  &:nth-child(2n) {
    margin-left: 30px;
    @include mobile {
      margin-left: 0px;
    }
  }
  img {
    width: 48px;
    height: 48px;
    @include pd {
      width: 32px;
      height: 32px;
    }
    @include mobile {
      width: 100%;
    }
  }
  span {
    padding-left: 8px;
    font-size: 48px;
    line-height: 72px;
    color: #aa0601;
    font-family: Roboto;
    @include pd {
      font-size: 28px;
      line-height: 42px;
    }
    @include mobile {
      color: #ffffff;
    }
  }
}
.hide {
  display: none;
  @include mobile {
    display: block;
  }
}
.show {
  @include mobile {
    display: none;
  }
}
.jointDesign {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 743px;
  @include pd {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }
  @include mobile {
    padding-bottom: 16px;
  }
  h2 {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    padding-top: 64px;
    padding-bottom: 60px;
    color: #ffffff;
    font-family: Noto Sans;
    @include pd {
      font-size: 32px;
      line-height: 48px;
      padding-top: 40px;
      padding-bottom: 32px;
    }
    @include mobile {
      font-size: 20px;
      padding-top: 32px;
      padding-bottom: 20px;
    }
  }
}
.jointDesign-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    flex-direction: column;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      margin-bottom: 16px;
    }
  }
  a {
    font-size: 72px;
    line-height: 108px;
    font-weight: bold;
    color: #aa0601;
    font-family: Roboto;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
    @include pd {
      font-size: 32px;
      line-height: 43px;
    }
  }
}
.double {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 472px;
  @include pd {
    width: 330px;
    height: 280px;
  }
}
.youth {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  width: 540px;
  height: 472px;
  @include pd {
    width: 330px;
    height: 280px;
  }
}
.recommend {
  padding-bottom: 64px;
  @include pd {
    padding-bottom: 13px;
  }
  @include mobile {
    padding-bottom: 16px;
  }
  h2 {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    padding-top: 64px;
    padding-bottom: 60px;
    color: #650300;
    font-family: Noto Sans;
    @include pd {
      font-size: 32px;
      line-height: 48px;
      padding-top: 40px;
      padding-bottom: 32px;
    }
    @include mobile {
      font-size: 20px;
      padding-top: 32px;
      padding-bottom: 20px;
    }
  }
}
.recommend-inner {
  display: flex;
  justify-content: space-between;
  @include pd {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @include mobile {
    flex-direction: column;
  }
  li {
    border: 1px solid #dee2e6;
    width: 23%;
    @include pd {
      width: 47.8%;
      margin-bottom: 28px;
      &:not(:first-child) {
        margin-left: 0px;
      }
    }
    @include mobile {
      width: 100%;
      margin-bottom: 16px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    @include pd {
      width: 100%;
    }
  }
  h4 {
    font-size: 14px;
    line-height: 21px;
    padding: 14px 16px 0px 16px;
    font-family: Roboto;
    @include pd {
      padding: 16px;
    }
  }
  p {
    line-height: 24px;
    padding: 0px 16px;
    font-family: Roboto;
    @include pd {
      padding: 0px 16px 16px 16px;
    }
  }
  .updated {
    color: #707070;
    padding-bottom: 15px;
    @include pd {
      padding-bottom: 16px;
    }
  }
}
.contact {
  background: #aa06010d;
}
.contact-inner {
  width: 730px;
  margin: 0 auto;
  padding-bottom: 80px;
  @include pd {
    width: 65.2%;
    padding-bottom: 40px;
  }
  @include mobile {
    width: 100%;
    padding-bottom: 32px;
  }
  h2 {
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    padding-top: 64px;
    padding-bottom: 24px;
    font-family: Noto Sans;
    @include pd {
      font-size: 32px;
      line-height: 48px;
      padding-top: 40px;
      padding-bottom: 16px;
    }
    @include mobile {
      font-size: 20px;
      padding-top: 32px;
      padding-bottom: 20px;
    }
  }
}
.contact-inner-text {
  line-height: 30px;
  padding-bottom: 20px;
  font-family: Noto Sans;
  @include pd {
    line-height: 24px;
    padding-bottom: 12px;
  }
}
.contact-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  @include pd {
    margin-bottom: 8px;
  }
  input,
  textarea {
    background: #aa06010d;
    display: block;
    width: 100%;
    padding: 8px 12px;
  }
  label {
    line-height: 24px;
    font-family: Noto Sans;
    @include pd {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
.checkbox {
  display: flex;
  input {
    width: 20px;
    height: 20px;
    @include pd {
      width: 18px;
      height: 18px;
    }
  }
  p {
    display: inline;
    line-height: 24px;
    font-family: Noto Sans;
    padding-left: 4px;
    @include pd {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
.button {
  text-align: center;
}
.submit {
  margin-top: 42px;
  width: 350px;
  font-weight: bold;
  padding: 16px 0px;
  background: #aa0601;
  color: #ffffff;
  font-family: Noto Sans;
  cursor: pointer;
  &:hover {
    color: #fab1a0;
  }
  @include pd {
    margin-top: 20px;
    width: 30.4%;
    font-size: 14px;
    line-height: 21px;
    padding: 7px 0px;
  }
  @include mobile {
    margin-top: 24px;
    width: 47.8%;
    padding: 8px 0px;
  }
}
