.bg-img-lg {
  background-size: cover;
  background-position: center center;
  padding-bottom: 100%;
}
.bg-img-xl {
  background-size: cover;
  background-position: center center;
  padding-bottom: 195%;
}
